<% if session[:name].present? %>

<div class="page-header">
  <h1>Existing Projects</h1>
</div>



<div class="row">
  <% @project_list.each do |project| %>
      <div class="col-md-4">

        <h4>Project: <%=project.name %></h4>
        <h4>PM: <%=project.manager %> </h4>
        <h4>Client: <%=project.client %> </h4>
        <h4>Location: <%=project.location %> </h4>
        <h4>Description: <%=project.description %> </h4>
        <h4>Contract Value: <%=project.contractvalue %> </h4>


        <a href="/projects/<%= project.id %>/show"> <button type="submit" class="btn btn-success btn-md"> Go to <%= project.name %> </button> </a>


        <% if project.location !=  "" %>
            <% @city = project.location %>
            <% @url = URI.escape("http://api.openweathermap.org/data/2.5/weather?q=#{@city}&units=imperial") %>
            <% @json_data = open(@url).read %>
            <% @data = JSON.parse(@json_data)%>
            <% if @data["message"].present? %>
                <p> Error:City not found. Edit the project to correct. </p>
            <%else%>
                <p><%= @data["weather"].first["description"] %> in <%=project.location%> </p>
            <% end %>
        <% end %>
      </div>

    <%end%>
</div>

<h2>Create a new project:</h2>


<form action="/projects/create" class="col-md-4">

  <div class="form-group">
    <label class="control-label">Project Details:</label>
    <input name="name" type="text" class="form-control input-md" placeholder="Project Name">

    <input name="manager" type="text" class="form-control input-md" placeholder="Project Manager's Name">

    <input name="client" type="text" class="form-control input-md" placeholder="Project Client">

    <input name="location" type="text" class="form-control input-md" placeholder="Project City Location (enter a valid city)">

    <input name="description" type="text" class="form-control input-md" placeholder="Brief Project Description">

    <input name="contractvalue" type="text" class="form-control input-md" placeholder="Contract Value">

  </div>

  <button type="submit" class="btn btn-success btn-md">Create Project! </button>
  or
  <%= link_to "Go Back", "/" %>
</form>

<% else %>
  <h2> Please Sign In</h2>
<% end %>

