<div class="page-header">
  <%= link_to "Delete #{@currentproject.name}", "/projects/#{@currentproject.id}/delete", :class => "btn btn-md  pull-right " %>

  <%= link_to "Edit #{@currentproject.name}", "/projects/#{@currentproject.id}/edit", :class => "btn btn-md  pull-right " %>

  <%= link_to "Back to Project Index", "/projects", :class => "btn btn-md btn-success pull-right " %>

  <h1><%= @currentproject.name%> </h1>
</div>

<h2>WBS L1:</h2>
<div class="row">
  <div class="col-lg-12">
    <% if @task_list.any? %>

      <% @task_list.each do |task| %>

        <h3> <a href="/tasks/<%=task.id%>/show"> <%=task.name %> </a></h3>

      <% end %>
    <%end%>
  </div>

<div class="row">
<div class="row"></div>

  <form action="/tasks/create/">

    <div class="col-md-6">
      <div class="form-group">

        <input name="name" type="text" class="form-control input-md" placeholder="Create a new WBSL1 Activity">

        <input name = "project_id" type = "hidden" value="<%=@currentproject.id%>" >

      </div>
    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-success btn-md"> Add Task </button>
    </div>

  </form>

      </div>
    </div>

    <div class="col-md-6">
      <button type="submit" class="btn btn-success btn-md"> Add Task </button>
    </div>

  </form>


</div>

</div>

